<mat-toolbar color="primary">

  <div class="left-side">
    <div class="title">
  <mat-icon>shopping_basket</mat-icon>
  <span>SB Shop</span>
  </div>



  <div class="elements">
  <a [routerLink]="['/home']" mat-button>Home</a>
  <a [routerLink]="['/admin']" mat-button *ngIf="isAdmin()">Admin</a>
  </div>
  </div>

  <div class="right-side" *ngIf="!currentUser?.id">
    <a [routerLink]="['/login']" mat-button style="background-color: #512E91">Sign in</a>
    <a [routerLink]="['/register']" mat-button>Sign up</a>
  </div>

  <div class="right-side" *ngIf="currentUser?.id">
    <a [routerLink]="['/profile']" mat-button style="background-color: #512E91">{{currentUser.username}}</a>
    <a (click)="logOut()" mat-button>Logout</a>
  </div>

</mat-toolbar>

<router-outlet />
